.home_icon {
    display: block;
    max-width:32px;
    max-height:32px;
    width: auto;
    height: auto;
    background-color: white;
}

.footnote-ref {outline-color: blue;
               outline-width: 2px;
               outline-style: solid;
               font-weight:bold;
               padding: 0px 2px;
               margin: 0px 4px;}

.plain {text-decoration: none;}
