img.white {background-color: white;
           padding: 2px;}

hr.break {border: 2px solid;
          margin-left: 5em;
          margin-right: 5em;}

.footnote-ref {outline-color: blue;
               outline-width: 2px;
               outline-style: solid;
               font-weight:bold;
               padding: 0px 2px;
               margin: 0px 4px;}

.plain-text {text-decoration: none;}

.thin-button {padding: 0 1em;}
