nav {outline-width: 4px;
     outline-style: solid;
     padding: 0px 10px;
     border-radius: 5px;
    }

img.white {background-color: white;
           padding: 2px;
          }

span.comment {background-color: yellow;
              outline-width: 1px;
              outline-style: solid;
              padding: 0 0.25em;
              margin: 0 0.25em;
             }

hr.break {border: 1px solid;
          margin-left: 10em;
          margin-right: 10em;
         }

.footnote-ref {outline-color: blue;
               outline-width: 2px;
               outline-style: solid;
               font-weight:bold;
               padding: 0px 2px;
               margin: 0px 4px;
              }

.plain-text {text-decoration: none;}

.thin-button {padding: 0 1em;}

th.right {text-align: right;}
td.right {text-align: right;}
tr.noborder td {border: none; padding: 3px;}

@media print {
    .no-print {
        display: none;
    }
}
